.joggers-text {
    text-align: center;
    margin: 3px;
    font-size: 24px;
  }
  
  .joggers-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
     background-color:#E2E5E6;  
  }
  
  .joggers-item {
    margin: 10px;
    text-align: center;
  }
  
  .joggers-item {
    width: 30rem;
     border-radius: 8px; 
  }
  
  .joggers-price {
    font-size: 25px;
    font-weight: bold;
    margin-top: 5px;
  }
  