body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Container for the list of boots */
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 20px;
  background-color: #f4f4f4;
}

/* Individual boot item styling */
.box{
  flex: 1 1 calc(25% - 16px); /* Responsive 4 items per row, adjust as needed */
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 8px;
  overflow: visible;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.box:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.img-box img {
  width: 100%;
  height: auto;
  display: block;
}


.details h3{
  font-size: 1.7rem;
  margin: 8px 0;
  color: #333;
  font-family: 'Courier New', Courier, monospace;
}

.details p{
  font-size: 1rem;
  margin: 8px 0;
  color: #333;
  font-family: 'Courier New', Courier, monospace;
}

.details {
  font-size: 1rem;
  margin: 0;
  color: #777;
  font-family: 'Courier New', Courier, monospace;
}

/* Styling for the selected boot details */
.details-containers {
  padding: 0px;
  background-color: #f4f4f4;
 
}

.detail-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  background-color: #f4f4f4;;
  
  overflow: hidden;
  padding: 0px;
}

.img-box {
  flex: 1;
}

.img-box img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.info {
  flex: 2;
}

.info p {
  margin: 0 0 10px;
  font-size:1rem;
  color: #333;
  font-family: 'Courier New', Courier, monospace;
}
.info h3 {
  margin: 0 0 10px;
  font-size: 1.7rem;
  color: #333;
  font-family: 'Courier New', Courier, monospace;
}

/* Responsive adjustments */
@media (max-width: 1200px) {
  .box  {
    flex: 1 1 calc(33.333% - 16px); /* 3 items per row */
  }
}

@media (max-width: 768px) {
  .box  {
    flex: 1 1 calc(50% - 16px); /* 2 items per row */
  }
}

@media (max-width: 480px) {
  .box {
    flex: 1 1 100%; /* 1 item per row */
  }
}
@media (max-width: 480px) {
  .detail-content {
    flex: 1 1 100%; /* 1 item per row */
  }
}

@media (max-width: 480px) {
  .details-containers {
    flex: 1 1 100%; /* 1 item per row */
  }
}


@media (max-width: 768px) {
  .img-box img {
    flex: 1 1 calc(33.333% - 16px);/* 1 item per row */
  }
}



 /* button {
  padding: 10px 15px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}  */

/* button:hover {
  background-color: #218838;
} */


 
  